@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

body {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Baloo 2', cursive;
  background: #000;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
 
}

h2, h1, .content,button{
  margin: 0;
  padding: 0;
}


button {
  height:10vh;
  width: 10vw;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 40px;
  background-color: #2b0063;
  color: aliceblue;
  font-family: 'Baloo 2', cursive;
}
button:hover {
  background-color: #4b00ad;
  color: aliceblue;
}

#restart {
  display: none;
}

#grid {
  width: 200px;
  height: 200px;
  border: 2px ridge red;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px initial black;
}

.snake {
  background-color: green;
}

.food {
  background-color: blue;
}
